body{
    background-color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: bold;
    color: darkorange;
    background-image: url(bg2.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}

.container {
    max-width: 1250px;
    margin:  0 auto;
}

.buttons-list {
    display: flex;
    flex-wrap: wrap;
}

.buttons{
    font-size: 18px;
    color: darkorange;
    font-weight: bold;
    width: 250px;
    height: 50px;
    border: 4px solid darkorange;
    background-color: black;
    margin-bottom: 10px;
    text-align: center;
    margin-right: 15px;
    display: block;
}

.buttons:focus {
    outline: none;
}

.buttons:hover {
    cursor: pointer;
} 

#content {
    border: 4px solid darkorange;
    min-height: 600px;
    width: 1250px;
    margin-bottom: 10px;
    background-color: black;    
}

#content p {
    margin-left: -20px;
}

#content textarea {
    border: 1px solid darkorange;
    resize: none;
    background-color: darkorange;
    color: black;
    
}

#content textarea:enabled {
    outline: none;
}

#content #noteContent .center {
    display: flex;
    
}

#noteContent, #text, #addCategory {
    margin-left: 35px;
}

#content #noteContent {
    display: none;
}

#content #addCategory {
    display: none;
}

#content #radios {
    display: flex;
    flex-wrap: wrap;
}

#content #text {
    display: none;
    width: 1250px;
    min-height: 200px;
}

#content #text #notes {
    display: flex;
    list-style-type: none;
    flex-wrap: wrap;
    margin-left: 30px;
    margin-top: -15px;
}

#content #text #notes .note {
    display: flex;
    flex-direction: column;
    border: 2px solid darkorange;
    width: 208px;
    height: 120px;
    margin-right: 20px;
    margin-bottom: 20px;
    padding: 3px;
    overflow: hidden;
    white-space: normal;
}

#content #text #notes .note:hover {
    cursor: pointer;
}

#categories {
    background-color: black;
    border: 4px solid darkorange;
    width: 1258px;
}

#noteList {
    padding-left: 20px;
}

#categories {
    display: flex;
    flex-wrap: wrap;
}

#categories .category {
    border: 2px solid darkorange;
    display: flex;
    background-color: black;
    justify-content: center;
    width: 208px;
    height: 120px;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

#categories .category p {
    padding-top: 25px;
}

#categories .category:hover {
    cursor: pointer;
}

.category {
    border: 2px solid darkorange;
    display: flex;
    background-color: black;
    justify-content: center;
    width: 208px;
    height: 120px;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}